.Logout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Logout-content{
    text-align: center;

}

.Logout-content h1{

    font-size: 24px;
    margin-bottom: 16px;
}

.Logout-content p{
    font-size: 16px;
    color: #888;
}